{% include "partials/notebook_header.njk" %}

<body>
    <article>
        {{ content | safe }}

        <section>
            <h2>Life Notes</h2>
                <ul>
                {% for note in collections.lifenotes %}
                    <li>
                        {{ note.data.date | postDate }} - <a class="notes-title" href="{{ note.url }}">{{ note.data.title }}</a>
                    </li>
                {% endfor %}
                </ul>
        </section>

        <section>
            <h2>Video Quick Notes</h2>
                <ul>
                {% for note in collections.videonotes %}
                    <li>
                        {{ note.data.date | postDate }} - <a class="notes-title" href="{{ note.url }}">{{ note.data.title }}</a>
                    </li>
                {% endfor %}
                </ul>
        <section>
    </article>
</body>

{% include "partials/notebook_footer.njk" %}