<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} ing griyanipun Damar</title>
    <link rel="stylesheet" href="{{ '/assets/blogstyle.css' }}" />
    <link rel="stylesheet" href="{{ '/assets/fonts.css' }}" />
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.jpg' }}">
    <meta name="theme-color" content="#edeaea" />
</head>

<body>
    <div id="container">