<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Damar's Technical Writing</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ '/assets/normalize.css' }}" />
    <link rel="stylesheet" href="{{ '/assets/normalize-extras.css' }}" />
    {# <link rel="stylesheet" href="{{ '/assets/rdivyanshu.css' }}" /> #}
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.jpg' }}">
    <meta name="theme-color" content="#edeaea" />
</head>